@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import './vars/index.scss';
@import './components/index.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-color-1;
  font-family: $primary-font;
}
.Main {
  .Content {
    margin-top: 5%;
    padding: 10px;
    grid-template-columns: minmax(auto, 976px);
    display: grid;
    justify-content: center;

    &-loading {
      border: 4px solid #f3f3f3;
      border-top: 4px solid #3498db;
      border-radius: $border-radius;
      width: $standard-space-20;
      height: $standard-space-20;
      animation: spin 2s linear infinite;
    }
  }
}
