@import './vars/index.scss';

.Header {
  border-top-left-radius: $border-radius-2;
  border-top-right-radius: $border-radius-2;
  position: fixed;
  background-color: $background-color-2;
  width: 100%;
  position: relative;

  &-main {
    padding: $em-1_2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: $text-color;
    }

    .Header-logo {
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 0;

      h1 {
        display: block;
        width: $em-4;
        position: relative;
        margin: 0;
        font-size: inherit;
        line-height: 1;
      }

      img {
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .Header-nav {
      justify-content: center;
      a {
        &:hover,
        &:active {
          color: $primary-color;
          text-decoration: none;
          border-bottom: $standard-space-3 solid $primary-color;
        }
      }
    }

    .Header-input {
      input[type='text'] {
        padding: $standard-space-5;
        font-size: $standard-space-18;
        width: $em-10;
      }
    }
  }
}
