@import '_mixins';
@import '_sizes';

@keyframes fadeIn {
  from {
    opacity: $opacity-0;
  }

  to {
    opacity: $opacity-1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
