$primary-color: #ff6a00;
$button-games: white;
$text-color: #15302c;
$background-color-1: f4f4f4;
$background-color-2: #fff;

$box-shadow-games: 8px 14px 38px rgba(39, 44, 49, 0.06),
  1px 3px 8px rgba(39, 44, 49, 0.03);
