
$border-radius-1: 5px;
$border-radius-2: .25rem;


$standard-space-1: 20px;
$standard-space-2: 15px;
$standard-space-3: 10px;
$standard-space-4: 40px;
$standard-space-96: 960px;
$standard-size: 15px;

$weight-3: 300;
$weight-7: 700;

$em-0_5: 0.5em;
$em-1: 1em;
$em-1_5: 1.5em;
$em-2: 2em;
$em-20: 20em;
$em-50: 50em;

$opacity-0: 0;
$opacity-1: 1;

//screen
$screen-height: 100vh;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1400px;