$border-radius-5: 5px;
$border-radius-2: 0.25rem;
$border-radius: 50%;

$standard-space-1: 1px;
$standard-space-3: 3px;
$standard-space-4: 4px;
$standard-space-5: 5px;
$standard-space-10: 10px;
$standard-space-16: 16px;
$standard-space-18: 18px;
$standard-space-20: 20px;

$weight-3: 300;
$weight-4: 400;

$em-1_2: 1.2em;
$rem-1_5: 1.5rem;
$em-2: 2em;
$em-3: 3em;
$em-4: 4em;
$em-5: 5em;
$em-6: 6em;
$em-10: 10em;

$opacity-0: 0;
$opacity-1: 1;
$opacity-0_7: 0.7;

//screen
$screen-height: 100vh;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1400px;
